@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:700');

#clock
{
  position: relative;
  top: 10vh;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 5em;
  height: 100;
  width: 350px;
  border: 2px solid #FFFFFF;
  padding: 25px;
  margin: auto;
}

#date, #currentEvent, #nextEvent
{
  position: relative;
  top: 12vh;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 2em;
  padding: 5px;
  color: #FFFFFF;
}

#date
{
  font-weight: bold;
  padding: 30px;
}

#contact
{
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-family: 'Lato', sans-serif;
  color: LightBlue;
}

@keyframes bgcolor {
    0% {
        background-color: #8899FF
    }

    30% {
        background-color: #88A8FF
    }

    60% {
        background-color: #88E6FF
    }

    90% {
        background-color: #88A8FF
    }

    100% {
        background-color: #8899FF
    }
}

body {
    -webkit-animation: bgcolor 60s infinite;
    animation: bgcolor 30s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
